@import "tailwindcss";

:root {
  --mainFontFamily: "Inter", sans-serif;
  --boldFont: 900;
  --semiBoldFont: 600;
  --regularFont: 400;
  /* Light mode color palette */
  --RedAccent: #e83434;
  --YellowAccent: #fbe62e;
  --LightBG: #f4f4f4;
  --Dark: #222222;
  --DarkIsh: #3e3e3e;
  --ExtraDark: #0e0e0e;
  --Light: #545454;
  --LightIsh: #707070;
  --ExtraLight: #e3e3e3;
  --white: #ffffff;
  --black: #000;
  /* Dark mode color palette */
  --DarkBG: #545454;
}

@theme inline {
  --font-mainFontFamily: var(--mainFontFamily);
  --font-weight-boldFont: var(--boldFont);
  --font-weight-semiBoldFont: var(--semiBoldFont);
  --font-weight-regularFont: var(--regularFont);
  --color-RedAccent: var(--RedAccent);
  --color-YellowAccent: var(--YellowAccent);
  --color-LightBG: var(--LightBG);
  --color-Dark: var(--Dark);
  --color-DarkIsh: var(--DarkIsh);
  --color-ExtraDark: var(--ExtraDark);
  --color-Light: var(--Light);
  --color-LightIsh: var(--LightIsh);
  --color-ExtraLight: var(--ExtraLight);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-DarkBG: var(--DarkBG);
}

@media (prefers-color-scheme: dark) {
  :root {
    --LightBG: var(--DarkBG);
    --Dark: var(--ExtraLight);
    --DarkIsh: var(--LightIsh);
    --ExtraDark: var(--ExtraLight);
    --Light: var(--Dark);
    --LightIsh: var(--DarkIsh);
    --ExtraLight: var(--ExtraDark);
    --white: var(--black);
    --black: var(--white);
    --DarkBG: var(--LightBG);
  }
}

body {
  background: var(--LightBG);
  color: var(--Dark);
  font-family: var(--mainFontFamily);
}

* {
  @apply transition-colors duration-200;
}
